*{
    margin: 0;
    padding: 0;
    border-color: 1 px solid black;
    color: cornflowerblue;
    z-index: -3;
}
body{
    margin: 3em;
    background-color: #333;
}
header {
    margin: 3em;
}
main{
    margin: 3em;
}
footer{
    margin: 3em;
}