@media screen and (min-width:600px)/*tablet*/
            and (max-width:999px){
                main{
                    margin-bottom: 4em;
                }
                h1{
                    font-size: 3em;
                    margin: 0.5em 1em;
                }
                
                h2{
                    margin: 1em;
                }
                .Entra
                {
                    width: 40em;
                    height: 15em;
                    position: relative;
                    margin: 0 auto;
                    background-color: rgba(250, 250, 250, 0.1);
                    border: 1px solid rgba(250, 250, 250, 0.4);
                    border-radius: 1em;
                    -webkit-border-radius: 1em;
                    -moz-border-radius: 1em;
                    -ms-border-radius: 1em;
                    -o-border-radius: 1em;
                }
                
                
                
                footer {
                    position: relative;
                }
                
                .foot {
                    background-color: rgba(250, 250, 250, 0.2);
                    border: 1px solid rgba(0, 0, 0, 0.5);
                    display: flex;
                    flex-direction: row;
                    justify-content: space-around;
                    color:#fff;
                    position: fixed;
                    bottom: 0;
                    width: 100%;
                    padding: 1em 0 0 0;
                }
                p{
                    width: 35em;
                }
                
                .slider-container
                {
                    display: inline-block;
                    height: 14em;
                    margin-left: auto;
                    margin-right: auto;
                    margin-top: 0px;
                    text-align: center;
                    overflow: hidden;
                }
                .image-container
                {
                    display: block;
                    width: 160em;
                    height: 10em;
                    clear: both;
                    position: relative;
                    -webkit-transition: left 2s;
                    -moz-transition: left 2s;
                    -o-transition: left 2s;
                    transition: left 2s;
                    -ms-transition: left 2s;
                }
                #slider-image-1:target ~ .image-container
                {
                   left: 0;
                }
                #slider-image-2:target ~ .image-container
                {
                   left: -20em;
                }
                #slider-image-3:target ~ .image-container
                {
                   left: -40em;
                }
                #slider-image-4:target ~ .image-container
                {
                   left: -60em;
                }
                .button-container
                {
                    position: relative;
                    margin-top: 2em;
                }
                .slider-change
                {
                    display: inline-block;
                    background-color: rgba(250, 250, 250, 0.5);
                    border: 1px solid rgba(0, 0, 0, 0.7);
                    border-radius: 30px;
                    width: 30px;
                    height: 30px;
                    -webkit-border-radius: 30px;
                    -moz-border-radius: 30px;
                    -ms-border-radius: 30px;
                    -o-border-radius: 30px;
                }
            }

@media screen and (min-width:300px)/*cellulare*/
            and (max-width:599px){

                main{
                    margin-bottom: 7em;
                }
                h1{
                    font-size: 2.5em;
                    margin: 0.5em 1em;
                }
                
                h2{
                    margin: 0.5em;
                }
                .Entra
                {
                    width: 22em;
                    height: 30em;
                    position: relative;
                    margin: 0 auto;
                    padding: 0;
                    background-color: rgba(250, 250, 250, 0.1);
                    border: 1px solid rgba(250, 250, 250, 0.4);
                    border-radius: 1em;
                    -webkit-border-radius: 1em;
                    -moz-border-radius: 1em;
                    -ms-border-radius: 1em;
                    -o-border-radius: 1em;
                }
                
               
                p{
                    width: 20em;
                    margin-bottom: 4em;
                }
                
                .slider-container
                {
                    display: inline-block;
                    width: 20em;
                    height: 26em;
                    margin-left: auto;
                    margin-right: auto;
                    margin-top: 0px;
                    text-align: center;
                    overflow: hidden;
                    padding: 0;
                }
                .image-container
                {
                
                    display: block;
                    width: 80em;
                    height: 22em;
                    clear: both;
                    position: relative;
                    -webkit-transition: left 2s;
                    -moz-transition: left 2s;
                    -o-transition: left 2s;
                    transition: left 2s;
                    -ms-transition: left 2s;
                }
                #slider-image-1:target ~ .image-container
                {
                   left: 0;
                }
                #slider-image-2:target ~ .image-container
                {
                   left: -20em;
                }
                #slider-image-3:target ~ .image-container
                {
                   left: -40em;
                }
                #slider-image-4:target ~ .image-container
                {
                   left: -60em;
                }
                .button-container
                {
                    position: relative;
                    margin-top: 5em;
                }
                .slider-change
                {
                    display: inline-block;
                    background-color: rgba(250, 250, 250, 0.5);
                    border: 1px solid rgba(0, 0, 0, 0.7);
                    border-radius: 30px;
                    width: 30px;
                    height: 30px;
                    -webkit-border-radius: 30px;
                    -moz-border-radius: 30px;
                    -ms-border-radius: 30px;
                    -o-border-radius: 30px;
                }
                footer {
                    position: relative;
                }
                
                .foot {
                    background-color: rgba(250, 250, 250, 0.2);
                    border: 1px solid rgba(0, 0, 0, 0.5);
                    display: flex;
                    flex-direction: row;
                    justify-content: space-around;
                    color:#fff;
                    position: fixed;
                    bottom: 0;
                    width: 100%;
                    padding: 1em 0 0 0;
                }
                small{
                    font-size: x-small;
                    padding: 0 1em;
                }
            }  