/*istruzione countdown*/
div.two {
    background: rgba(122, 233, 209, 0.9) ;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}
#countdown{ 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    color:#eee; 
    font-size: 10em; 
    text-shadow: 1px 1px 5px black;
   
}
#temposcaduto{ 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    color:#eee; 
    text-shadow: 1px 1px 5px black;
    font-size: 1.5em;
}