*{
    margin:0 ; 
    padding: 0; 
    box-sizing: border-box;
    /*border: 1px solid yellow;*/
}


body{
    
    height: 100%;
    padding-bottom: 5em;
}

.name{
    padding: 1em;
    background-image: url(../image/abstract.jpg);
    color: rgb(250, 250, 250);
}

.dentro{
    padding: 1em;
    text-align: left;
}

audio{
    width: 100%;
    height: 11px;
}

ul {
    padding: 1em;
    list-style-type: none;
    text-align: center;
    background-color: #555;
}

li{
    display: inline;
    padding: 0 3%;
}

a:link, a:visited {
    text-decoration: none;
    color: #ffffff;
}

.coockie {
    padding: 1em;
    text-align: center;
    background-color:#fff;
}

.canvas-container { /*per posizionare l'orologio*/
  z-index: 10;
  position:fixed;
  top: 1.2em;
  right: 2.8em;

}

.canvas{
    height: 1px;
    width: 100px;
}

/* movimento delle info*/
div.thumbnail { position: relative; display: inline-block;}
div.dropdown { position: absolute; 
    padding: 2px;
    background: none;
    z-index: 1;
    display: none;
}

div.thumbnail:hover div.dropdown { display: block;}



span.label { display: block;
    padding: 15px;
    text-align: center;
    color: #000;
    background-color: rgba(2, 88, 248, 0.9);
}
/*qui finesce il thumbnail*/
.aboutMe{
    padding: 6em 2em;
    background-image: url(../image/background.jpg);
}

.foto{
    background-color: rgba(250, 250, 250, 0.7);
    border-radius: 1em;
    padding: 3em 4em;
    position: relative;
    display: flex;
    flex-direction: row;
    -webkit-border-radius: 1em;
    -moz-border-radius: 1em;
    -ms-border-radius: 1em;
    -o-border-radius: 1em;
}

.foto1{
    border: 6px solid #fff;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.descrizione {
    padding-top: 2.5em;
    padding-left: 6em;
    position: relative;
}

#skills {
    text-align: center;
    background-color: #000;
    color: #fff;
    height: 3em;
    padding: 1em;
}

.float {
   margin:0 30px;
}

.float img {
    width: 100px;
    height: 100px;
}

.image-box {
    margin: 10px;
}

.image-box p {
    color: #777;
    font-size: 14px;
}

.image-box img {
    float: left;
}

.float-box {
    float: left;
    background: #dfdfdf;
    width: 33.3%;
    height: 11em;
    padding: 6px;
    border: 1px solid #000;
}


address{
    
    padding:  6em 3em;
    background-image: url(../image/keyboard.jpg);
    color: #fff;
}

.contact{
    margin-top: 100px;
    padding: 1em 6em;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 1em;
    -webkit-border-radius: 1em;
    -moz-border-radius: 1em;
    -ms-border-radius: 1em;
    -o-border-radius: 1em;
}

footer {
    position: relative;
}
.foot {
    background-color: #000;
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   color: #fff;
   position: fixed;
   bottom: 0;
   width: 100%;
   padding: 6px 0 0 0;
}

small {
    font-size: xx-small;
}