*{margin:0 ; padding: 0; box-sizing: border-box; font-family: 'Courier New', Courier, monospace ;}


body{
    background: rgb(0, 0, 0);
}

div.head-container {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(10, 1fr); 
}

header {
    width: 100%;
    grid-column: span 10;
    display: flex; 
    align-items: center;
    align-content: center;
    justify-content: center;
}

header > div { padding-top: 0;}
header > div:nth-child(3) { margin: 0 0 0 auto;}
.logo {transform: scalex(-1);}

.title{ 
    align-content: space-between;
    color: aquamarine;
}

div.link {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end; 
}

div.link > div {
    padding: 1em;
    color: aquamarine;
    font-size: 0.8em;
}

div.link > div a {text-decoration: none;color: aquamarine;}

#info{margin: 0 3em;}


main {
    width: 1000px;
    height: 100%;
    display: grid; 
    justify-content: center; 
    align-items: center;
    align-content: center;
    position: sticky;/*per far scorrere il main sotto il footer*/
}

/*pesciolino*/
div.fish{ position: absolute; top: 0em; right: 3em; z-index: 0;}
div.fish1{ position: absolute; bottom: 18em; right: 20px; z-index: 0;transform: scalex(-1);}

div.grid-container {
    display: grid;
    height: 98%;
    grid-template-columns: 300px 300px 300px; 
    grid-template-rows: repeat(6, 0.6fr);
    justify-content: space-between;
    align-items: center;
    align-content: center;
    color: aquamarine;
}
div.grid-container >div {
    font-size: 0.85em;
}

/*per far l'orologio più grande*/
div.grid-container > div:nth-child(1){
    grid-column: 1;
    grid-row: 1;
}
#canvas{
    width: 80vw;
}

div.grid-container > div:nth-child(2){
    grid-column: 3;
    grid-row: 1;
}


/*posizione della calcolatrice, prende 3 posizioni orizontali*/
div.grid-container > div:nth-child(3) {
    grid-column: span 2;
    grid-row: 2;
}

div.grid-container > div:nth-child(4){
    grid-column: 3;
    grid-row: 2;
}
/*posizione del conto alla rovescia*/
div.grid-container > div:nth-child(5) {
    grid-column: span 2;
    grid-row: 3;
}

div.grid-container > div:nth-child(6){
    grid-column: 3;
    grid-row: 3;
}
/*posizione foto*/
div.grid-container > div:nth-child(7) {
    grid-column: 1;
    grid-row: 4;
}
.foto{ 
    border-radius:50% ; 
    -webkit-border-radius:50% ; 
    -moz-border-radius:50% ; 
    -ms-border-radius:50% ; 
    -o-border-radius:50% ; 
    border: white 5px solid;
}
/*posizione commento*/
div.grid-container > div:nth-child(8) {
    grid-column: 2;
    grid-row: 4;
    width: 20em;
}

div.grid-container > div:nth-child(9){
    grid-column: 3;
    grid-row: 4;
}

div.grid-container > div:nth-child(10){
    grid-column: 1;
    grid-row: 5;
}

/*posizione project*/
div.grid-container > div:nth-child(11) {
    grid-column: 2;
    grid-row:5;
}

div.grid-container > div:nth-child(12){
    grid-column: 3;
    grid-row: 5;
}

div.grid-container > div:nth-child(13){
    grid-column: 1;
    grid-row: 6;
}

div.grid-container > div:nth-child(14){
    grid-column: 3;
    grid-row: 6;
}



footer{ 
    position: fixed; /*fissa il footer a piede pagina*/
    bottom: 0px;
    width: 100%;
    }

div.container-foot {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}

.foot {
    grid-column: span 10;
    display: flex; 
    align-items: center;
    font-size: small;
    }

.foot > div:nth-child(1){ margin: 0 0 0 auto; margin-left: 0.5em;}
.foot > div:nth-child(2){ margin: 0 0 0 auto; margin-right: 0;}
.foot > div:nth-child(7){ margin: 0 0 0 auto; }
.foot > div:nth-child(8){margin-right: 0.5em;}
    

small { 
    font-size: xx-small;
    color: aquamarine;
    
    }
address{
    display: block;
    margin-bottom: 7em;
}
h4, p, li{color: aquamarine;padding-left: 2em;}
a.label {color: aquamarine; padding-left: 2em;}
p { text-indent: 2em; }

/*css per il dropdown dell'orologio*/
div.thumbnail { position: relative; display: inline-block;}
div.dropdown { position: absolute; 
    padding: 2px;
    background: none;
    z-index: 1;
    display: none;
}

div.thumbnail:hover div.dropdown { display: block;}

header, footer, form, span.laber {
    background-color: rgb(2, 80, 44);
    color: aquamarine;
}

span.label { display: block;
    padding: 15px;
    text-align: center;
    color: aquamarine;
    text-decoration: none;
    background-color: rgb(2, 80, 44);
}
/*tablet posizione paesaggio*/
@media screen and (min-width:700px) and (max-width:992px){
body{background : rgb(0, 0, 0);} 
main{width: 100vw;} 
div.grid-container{ grid-template-columns: 200px 200px 200px;}
div.grid-container{ grid-template-columns: 80px; grid-template-rows: repeat(15, 0.7fr);padding-top: 15em;}
div.grid-container > div:nth-child(1){
    grid-column: 2;
    grid-row: 1;
}

div.grid-container > div:nth-child(2){
    grid-column: 2;
    grid-row: 2;
}

div.grid-container > div:nth-child(3){
    grid-column: 2;
    grid-row: 3;
}
div.grid-container > div:nth-child(4){
    grid-column: 2;
    grid-row: 4;
}
div.grid-container > div:nth-child(5){
    grid-column: 2;
    grid-row: 5;
}
div.grid-container > div:nth-child(6){
    grid-column: 2;
    grid-row: 6;
}
div.grid-container > div:nth-child(7){
    grid-column: 2;
    grid-row: 7;
}
div.grid-container > div:nth-child(8){
    grid-column: 2;
    grid-row: 8;
}
div.grid-container > div:nth-child(9){
    grid-column: 2;
    grid-row: 9;
}
div.grid-container > div:nth-child(10){
    grid-column: 2;
    grid-row: 10;
}
div.grid-container > div:nth-child(11){
    grid-column: 2;
    grid-row: 11;
}
div.grid-container > div:nth-child(12){
    grid-column: 2;
    grid-row: 12;
}
div.grid-container > div:nth-child(13){
    grid-column: 2;
    grid-row: 13;
}
div.grid-container > div:nth-child(14){
    grid-column: 2;
    grid-row: 14;
}
header{width: 100%;}
}
/*cellulare o tablet posizione paesaggio*/
@media screen and (max-width:700px) and (orientation:landscape ){
    body{background : rgb(0, 0, 0);}  
main{width: 600px;}
div.grid-container{ grid-template-columns: 180px 180px 180px;} 
div.container-foot{ width: 90%;} 
div.grid-container{ grid-template-columns: 80px; grid-template-rows: repeat(15, 0.5fr);padding-top: 15em; border: white 1px solid;}

div.grid-container > div:nth-child(1){
    grid-column: 2;
    grid-row: 1;
}

div.grid-container > div:nth-child(2){
    grid-column: 2;
    grid-row: 2;
}

div.grid-container > div:nth-child(3){
    grid-column: 2;
    grid-row: 3;
}
div.grid-container > div:nth-child(4){
    grid-column: 2;
    grid-row: 4;
}
div.grid-container > div:nth-child(5){
    grid-column: 2;
    grid-row: 5;
}
div.grid-container > div:nth-child(6){
    grid-column: 2;
    grid-row: 6;
}
div.grid-container > div:nth-child(7){
    grid-column: 2;
    grid-row: 7;
}
div.grid-container > div:nth-child(8){
    grid-column: 2;
    grid-row: 8;
}
div.grid-container > div:nth-child(9){
    grid-column: 2;
    grid-row: 9;
}
div.grid-container > div:nth-child(10){
    grid-column: 2;
    grid-row: 10;
}
div.grid-container > div:nth-child(11){
    grid-column: 2;
    grid-row: 11;
}
div.grid-container > div:nth-child(12){
    grid-column: 2;
    grid-row: 12;
}
div.grid-container > div:nth-child(13){
    grid-column: 2;
    grid-row: 13;
}
div.grid-container > div:nth-child(14){
    grid-column: 2;
    grid-row: 14;
} 
.bolle-fondo{ margin-left: 3em;}
footer{width: 70%;}
}

/*cellulare posizione normale*/
@media screen  and (max-width:600px) and (orientation: portrait){
    body{background : rgb(0, 0, 0);} 
main{ width: 90%;}
div.grid-container{ 
    grid-template-columns: 80px; 
    grid-template-rows: repeat(15, 0.5fr);
    padding-top: 15em; 
}


div.grid-container > div:nth-child(1){
    grid-column: 2;
    grid-row: 1;
}

div.grid-container > div:nth-child(2){
    grid-column: 2;
    grid-row: 2;
}

div.grid-container > div:nth-child(3){
    grid-column: 2;
    grid-row: 3;
}
div.grid-container > div:nth-child(4){
    grid-column: 2;
    grid-row: 4;
}
div.grid-container > div:nth-child(5){
    grid-column: 2;
    grid-row: 5;
}
div.grid-container > div:nth-child(6){
    grid-column: 2;
    grid-row: 6;
}
div.grid-container > div:nth-child(7){
    grid-column: 2;
    grid-row: 7;
}
div.grid-container > div:nth-child(8){
    grid-column: 2;
    grid-row: 8;
}
div.grid-container > div:nth-child(9){
    grid-column: 2;
    grid-row: 9;
}
div.grid-container > div:nth-child(10){
    grid-column: 2;
    grid-row: 10;
}
div.grid-container > div:nth-child(11){
    grid-column: 2;
    grid-row: 11;
}
div.grid-container > div:nth-child(12){
    grid-column: 2;
    grid-row: 12;
}
div.grid-container > div:nth-child(13){
    grid-column: 2;
    grid-row: 13;
}
div.grid-container > div:nth-child(14){
    grid-column: 2;
    grid-row: 14;
}
.bolle-fondo{ margin-left: 3em;}
footer{width: 98%;}
}