.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Courier New', Courier, monospace;
  background-color: #242222;
  color: #FFFFFF;
}

.fish {
  z-index: 1;
  position: relative;
  height: 10vmin;
  margin: 4vmin;
  animation:  bounce 20s infinite ;
  -webkit-animation:  bounce 20s infinite ;
}

@keyframes bounce { 0% {right:-102vmin;} 100% {right:102vmin;}}


.fish1 {
  z-index: 1;
  position: relative;
  height: 3vmin;
  margin: 4vmin;
  animation:  bounce1 18s infinite ;
  -webkit-animation:  bounce1 18s infinite ;
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  -webkit-transform:rotateY();
}

@keyframes bounce1 { 0% {left:-101vmin;} 100% {left:101vmin;}}

.fish2 {
  z-index: 1;
  position: relative;
  height: 5vmin;
  margin: 4vmin;
  animation:  bounce2 16s infinite ;
  -webkit-animation:  bounce2 16s infinite ;
}

@keyframes bounce2 { 0% {right:-103vmin;} 100% {right:103vmin;}}

.fish3 {
  z-index: 1;
  position: relative;
  height: 8vmin;
  margin: 4vmin;
  animation:  bounce1 21s infinite ;
  -webkit-animation:  bounce1 21s infinite ;
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  -webkit-transform:rotateY();
}

.fish4 {
  z-index: 1;
  position: relative;
  height: 25vmin;
  margin: 4vmin;
  animation:  bounce4 26s infinite ;
  -webkit-animation:  bounce4 26s infinite ;
}

@keyframes bounce4 { 0% {right:-104vmin;} 100% {right:104vmin;}}

.b {
  z-index: 1;
  position: relative;
  animation:  up 4s infinite ;
  -webkit-animation:  up 4s infinite ;
}

@keyframes up {0% {top: 1px;} 100% {top: -1000px}}

.b1 {
  z-index: 1;
  position: relative;
  animation:  up1 5s infinite ;
  -webkit-animation:  up1 5s infinite ;
}

@keyframes up1 {0% {top: 1px;} 100% {top: -1200px}}

.b2 {
  z-index: 1;
  position: relative;
  animation:  up2 6s infinite ;
  -webkit-animation:  up2 6s infinite ;
}

@keyframes up2 {0% {top: 1px;} 100% {top: -1200px}}

.b3 {
  z-index: 1;
  position: relative;
  animation:  up3 3s infinite ;
  -webkit-animation:  up3 3s infinite ;
}

@keyframes up3 {0% {top: 1px;} 100% {top: -1200px}}

.b4 {
  z-index: 1;
  position: relative;
  animation:  up4 7s infinite ;
  -webkit-animation:  up4 7s infinite ;
}

@keyframes up4 {0% {top: 1px;} 100% {top: -1200px}}


.title {
  font-family: 'Playfair Display SC', serif;
  color: #00cc99;
}

.contact {
  margin: 10vmin;
}


.label {
  color: #FFFFFF;
}


.App-header {
  background-color: #242222;
  box-shadow: 12px 12px 16px 0 rgba(0,0,0, 0.25), -8px -8px 12px rgba(255,255,255,0.3) ;
  margin: 30px;
  padding: 5vmin;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 50vh;
  min-width: 80vw;
  border-radius: 50px;
  font-size: calc(10px + 2vmin);
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}


.foto {
  height: 20vmin;
  margin: 4vmin;
  border: 1vmin solid #00cc99;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}